<div class="header">
  <div class="container">
    <%= image_tag("bbb_banner.jpg", :alt => "Banner") %>
  </div>
</div>

<div class="container">
  <div class="main">
    <div class="join-meeting">
      <h2>Try BigBlueButton</h2>
      <h4 class="extra-info">Join a demo session on this server.</h4>

      <div class="login-form">
        <%= form_tag("/create", method: "post") do %>
        <%= text_field_tag(:name, "", {class: "form-text-field", placeholder: "Your Name"}) %>
        <%= text_field_tag(:room_id, "", {class: "form-text-field", placeholder: "Meeting ID"}) %>
        <%= submit_tag("Join", class: "submit-button") %>
      <% end %>
    </div>

  </div>
</div>
</div>
