<div class="header">
  <div class="container">
    <%= image_tag("bbb_banner.jpg", :alt => "Banner") %>
  </div>
</div>

<div class="container">
  <div class="main">
    <div class="right-half">
      <div class="join-meeting rounded-border">
        <h2>Try BigBlueButton</h2>
        <h4 class="extra-info">Join a demo session on this server.</h4>

        <div class="login-form">
          <%= form_tag("/create", method: "post") do %>
          <%= text_field_tag(:name, "", {class: "form-text-field", placeholder: "Your Name", required: ""}) %>
          <%= password_field_tag(:password, "", {class: "form-text-field", placeholder: "Password", required: ""}) %>
          <%= text_field_tag(:room_id, "", {class: "form-text-field", placeholder: "Meeting ID", required: ""}) %>
          <span class="form-check-box">
            <%= check_box_tag(:record, "", {}) %>
            Record Meeting
          </span>
          <%= submit_tag("Join Room", class: "submit-button") %>
        <% end %>
      </div>

    </div>

  </div>
  <div class="left-half">
    <div id="current-rooms" class="rounded-border">
      <h2>Current Rooms Available</h2>
      <h4 class="extra-info">Enter one of these IDs in the Meeting ID field on the right (or create your own)</h4>
      <% if @current_rooms_created[:meetings].length == 0 %>
        <h4 class="extra-info">No rooms are currently available</h4>
      <% end %>
      <ul class="styled-table">
        <% @current_rooms_created[:meetings].each do |room|%>
          <li class="table-row .extra-info">
            <%= room[:meetingID] %>
            <i class="join-room fas fa-sign-in-alt" onclick="joinRoom(this)" data-id="<%= room[:meetingID] %>" title="Join Meeting"></i>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="current-recordings" class="rounded-border">
      <h2>Current Recordings</h2>
      <h4 class="extra-info">If your recording does not appear below, please give it some time</h4>
      <% if @current_recordings[:recordings].length == 0 %>
        <h4 class="extra-info">No recordings are currently available</h4>
      <% end %>
      <ul class="styled-table">
        <% @current_recordings[:recordings].each do |rec|%>
          <li class="table-row .extra-info">
            <%= rec[:meetingID] %>
            (<%= rec[:startTime]%>)
            <i class="delete-recording fas fa-trash" onclick="deleteRecording(this)" data-id="<%= rec[:recordID] %>" title="Delete Recording"></i>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
